<div class="splash">
  <div class="container splash-sticky">
    <div class="splash-about">
      <h1>
        <a href="{{ site.baseurl }}">
          miss-sell
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </a>
      </h1>

      <!-- <p class="lead">{{ site.description }}</p> -->

      <div class="splash-img-container">
        <img class="splash-img" src="http://placehold.it/1920x800/fff/FF1C38">
      </div>

    </div>

    <nav class="splash-nav">

      <a class="splash-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}">
        <i class="fa fa-fw fa-rss-square hidden" aria-hidden="true"></i>
        Blog
      </a>

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="splash-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">
              <i class="fa fa-fw fa-file-text-o hidden" aria-hidden="true"></i>
              {{ node.title }}
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="splash-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/archive">
        <i class="fa fa-fw fa-archive hidden" aria-hidden="true"></i>
        Achive
      </a>
    </nav>
    
      <div class="social">
          <a href="https://twitter.com/mrsideshowjack"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
          <a href="https://github.com/mrsideshowjack"><i class="fa fa-github fa-fw" aria-hidden="true"></i></a>
          <a href="https://uk.linkedin.com/in/jack-mason-669384107"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i></a>
          <a href="http://codepen.io/sideshowjack/"><i class="fa fa-codepen fa-fw" aria-hidden="true"></i></a> 
          <a href="http://stackoverflow.com/users/6625790/jack-mason"><i class="fa fa-stack-overflow fa-fw" aria-hidden="true"></i></a>
      </div>

    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
