<div class="splash">
  <div class="splash-sticky">
    <div class="splash-about">
      <h1>Miss Sell</h1>
    </div>

  <nav class="splash-nav">
    <ul>
      <li>
        <a class="{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}">
        Blog
      </a>

    {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
      <li>
        <a class="{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">
        {{ node.title }}
      </a>
          {% endif %}
      {% endif %}
    {% endfor %}

      <li>
        <a class="{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/archive">
        Archive
      </a>
    </ul>
  </nav>
    
<!--       <div class="social">
          <a href="https://twitter.com/mrsideshowjack"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
          <a href="https://github.com/mrsideshowjack"><i class="fa fa-github fa-fw" aria-hidden="true"></i></a>
          <a href="https://uk.linkedin.com/in/jack-mason-669384107"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i></a>
          <a href="http://codepen.io/sideshowjack/"><i class="fa fa-codepen fa-fw" aria-hidden="true"></i></a> 
          <a href="http://stackoverflow.com/users/6625790/jack-mason"><i class="fa fa-stack-overflow fa-fw" aria-hidden="true"></i></a>
      </div> -->

      <div class="splash-img-container"></div>
  </div>
</div>
